
//Colors
$blue-color: rgb(52,198,205);
$purple-color: rgb(181,58,212);
$red-color: rgb(255,64,64);
$orange-color: rgb(255,159,64);
$yellow-color: rgb(255,221,64);
$green-color: rgb(172,245,64);
$light-border-color: #222733;
$bg-color: #1a1d25;
$light-border-color: #222733;


